<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <!-- Include the CesiumJS JavaScript and CSS files -->
  <script src="https://cesium.com/downloads/cesiumjs/releases/1.96/Build/Cesium/Cesium.js"></script>
  <link href="https://cesium.com/downloads/cesiumjs/releases/1.96/Build/Cesium/Widgets/widgets.css" rel="stylesheet">
  <link href="{{ url_for('static', filename='example.css')}}" rel="stylesheet">
</head>
<body>
  <div class="wrapper">
    <div id="cesiumContainer"></div>
    <div class="card" id="layer-manager">
      
      <div class="card-header">
        Background Layers
      </div>
      <div class="divider"></div>
      <div id="background-layers"></div>

      <div class="card-header">
        Globe Transparancy
      </div>
      <div class="divider"></div>
      <div class="slidecontainer">
        <input type="range" min="0" max="100" value="100" step="1" class="slider" id="transparancy-slider">
      </div>

      <div class="card-header">
        Generated Layers
      </div>
      <div class="divider"></div>
      <div id="user-layers"></div>

    </div>
  </div>
  <script>
    const viewModel = {tilesets: {{jsonobj|safe}}};
  </script>
  <script src="{{ url_for('static', filename='example.js')}}"></script>
 </div>
</body>
</html>