html {
    position: relative;
    width: 100%;
    height: 100%;

    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 700;
    --font-size-normal: 0.875rem;
    --font-size-small: 0.75rem;
    --font-size-large: 1rem;
    --font-size-xl: 1.5rem;
    --font-size-xxl: 2rem;

    --color-primary: #0087c8;
	--color-primary-accent: #4cabd8;
	--color-primary-accent-02: #c9e5f3;
    --color-bg-primary: #fafafa;
    --color-bg-primary-accent: #ffffff;
    --color-bg-secondary: #333333;
    --color-border: #e3e2e3;

    --border-radius: 0.25rem;

    --spacing-01: 0.125rem;
    --spacing-02: 0.25rem;
    --spacing-03: 0.5rem;
    --spacing-04: 0.75rem;
    --spacing-05: 1rem;
    --spacing-06: 1.5rem;
    --spacing-07: 2rem;
    --spacing-08: 2.5rem;
    --spacing-09: 3rem;
    --spacing-10: 4rem;
    --spacing-11: 5rem;
    --spacing-12: 6rem;
    --spacing-13: 10rem;
    --spacing-14: 14rem;
    --spacing-15: 18rem;
    --spacing-16: 22rem;
    --spacing-17: 26rem;

    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-normal);
    color: var(--color-text-primary);
}

body {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
}

.cesium-widget-credits {
    display: none !important;
}

.sb-show-main.sb-main-padded {
    padding: 0;
}

.wrapper {
    display: flex;
    width: 100%;
    height: 100%;
}

#toolbar {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

#cesiumContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#background-layers {
    padding: var(--spacing-02);
    margin-bottom: var(--spacing-05);
}

#user-layers {
    box-sizing: border-box;
}

#layer-manager {
    position: absolute;
    top: 1rem;
    left: 1rem;
    min-width: 15rem;
}

#transparancy-slider {
    width: 100%;
    margin-bottom: var(--spacing-04);
}


.cesium-viewer {
    width: 100%;
    height: 100%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: var(--color-bg-primary);
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: var(--spacing-04);
    width: fit-content;
    font-size: var(--font-size-normal);
}

.card-header {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);  
    color: var(--color-primary);
}

.divider {
    margin: var(--spacing-02);
    padding: 0;
    width: 100%;
    height: 1px;
    background-color: var(--color-border);
}

.background-layer {
    width: 100%;
    display: flex;
    align-items: center;
}

.background-layer input[type="radio"] {
    margin: 3px 6px 3px 0px;    
}

.user-layer {
    width: 100%;
    display: flex;
    flex-direction: column;    
    box-sizing: border-box;
    margin-top: var(--spacing-04);
    padding: var(--spacing-03);
    border: 1px solid var(--color-border);
}

.user-layer .cb {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-layer .legend-values {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.user-layer p {
    margin: 0;
}

.user-layer input[type="checkbox"] {
    margin: 3px 6px 3px 0px;    
}

.legend-canvas {
    width: 200px;
    height: 16px;
    border: 1px solid black;
    margin-top: var(--spacing-02);
}

.radio {
    width: 100%;
}

